header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 15px 0;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        //background: url("../../assets/fond.png") center/cover;
        padding: 5px 20px;
        border-radius: 30px;
        box-shadow: 2px 2px 0 1px white;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: url('../../assets/fond.png') center/cover;
            z-index: -1;
            filter: brightness(0.7);
            transition: 0.5s;
        }

        &:hover::after {
            filter: brightness(1);
        }

        &:hover h1::after {
            width: 100%;
        }

        h1 {
            font-size: 3rem;
            color: white;
            position: relative;
            letter-spacing: 5px;
            font-family: "police1";

            &::after {
                content: '';
                position: absolute;
                width: 0%;
                height: 3px;
                background: black;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: 0.5s;
            }
        }

        img {
            width: 100px;
            animation: 5s linear infinite rotation;

            @keyframes rotation {
                to {
                    rotate: 360deg;
                }
            }
        }
    }
}