@font-face {
    font-family: "police";
    src: url('../assets/JosefinSans-Medium.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "police";
    min-height: 100vh;
}